@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

header {
    padding: 20px 100px;
    align-items: center;
}

header h1 {
    grid-column: span 6;
}

header nav {
    grid-column: 7 / span 6;
    justify-self: right;
}

header nav a {
    text-decoration: none;
    color: #000000;
    margin-left: 15px;
    font-size: 1.2rem;
}

header nav button {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2rem;
    color: #fff;
    margin-left: 15px;
    background-color: #33cbb9;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

header nav button:hover {
    background-color: #2a9d8f;
}

.hero-container h2 {
    text-align: center;
    font-size: 4rem;
}

.blue-text {
    color: #33cbb9;
}